[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[user]
	name = ${GIT_USER_NAME}
	email = ${GIT_USER_EMAIL}
[credential]
	helper = manager
[core]
	editor = vim
	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
